body {
  background-image: url("/media/weatherBg.png");
  background-repeat: repeat;
  position: fixed;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
}
