body {
  background-image: url("/media/background.png");
  background-repeat: repeat;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  display: flex;
  justify-content: center;
}

.container {
  padding: 30px;
  margin: 45px auto;
  border: 3px dotted black;
  border-radius: 16px;
  background-color: whitesmoke;
  max-width: 650px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #d8d7dc;
  padding: 0 0 30px 0;
}

.searchCityInput {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #f9f7fe;
  border: none;
  border-radius: 5px;
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
  color: rgb(92, 91, 91);
}

.searchFormButton {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 15px 25px;
  border: none;
  margin-left: 4px;
  border-radius: 6px;
  color: black;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14.5px;
}
footer {
  text-align: center;
  font-size: 12.5px;
  border-top: 1px solid #d8d7dc;
  color: rgba(0, 0, 0, 0.6);
  padding: 20px 0 0 0;
}
