body {
  background-image: url("/media/weatherBg.png");
  background-repeat: repeat;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  display: flex;
  justify-content: center;
}

.container {
  padding: 30px;
  margin: 45px auto;
  border: 3px dotted black;
  border-radius: 16px;
  background-color: whitesmoke;
  max-width: 600px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.searchCity {
  display: flex;
  justify-items: left;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #f9f7fe;
  color: rgb(92, 91, 91);
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px 20px;
}

.searchFormButton {
  display: flex;
  justify-items: right;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  font-size: 15px;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
}
footer {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
