body {
  background-image: url("/media/weatherBg.png");
  background-repeat: repeat;
  position: fixed;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h2 {
  display: flex;
  justify-content: center;
}

.container {
  padding: 30px;
  margin: 45px auto;
  border: 3px dotted black;
  border-radius: 16px;
  background-color: whitesmoke;
  max-width: 600px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

#search-city {
  display: flex;
  background-color: #f9f7fe;
  color: gray;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px 20px;
}

#search-button {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  color: black;
  font-size: 16px;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}
