body {
  background-image: url("/media/weatherBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link {
  text-decoration: none;
  color: #52b2bf;
  cursor: crosshair;
}

a:visited {
  color: #63c5da;
  text-decoration: none;
}
a:hover {
  color: #f9f7fe;
  text-decoration: dotted;
}
a:active {
  color: #1f456e;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: #0292c2;
}

h2 {
  display: flex;
  justify-content: center;
  color: #1f456e;
}
header {
  border-bottom: 1px solid #d8d7dc;
  padding: 0 0 30px 0;
}

strong {
  color: #0292c2;
  font-weight: 500;
}

main {
  padding: 30px 0;
}

.mainCity {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
}

.mainCityDeets {
  font-size: 16px;
  line-height: 24px;
  color: rgba(39, 33, 66, 0.5);
}

.weatherData {
  display: flex;
  justify-content: space-between;
}
.weatherContainer {
  display: flex;
}

.icon {
  width: 95px;
  height: 95px;
}

.currentTemp {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  color: #0292c2;
}

.unit {
  margin-top: 6px;
  font-size: 30px;
  color: rgba(39, 33, 66, 0.8);
}

.container {
  padding: 30px;
  margin: 45px auto;
  border: 3px dotted black;
  border-radius: 16px;
  background-color: whitesmoke;
  max-width: 650px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.searchCityInput {
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #f9f7fe;
  border: none;
  border-radius: 5px;
  width: 75%;
  font-size: 16px;
  padding: 15px 20px;
  color: rgb(92, 91, 91);
}

.searchFormButton {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  padding: 15px 25px;
  border: none;
  margin-left: 4px;
  border-radius: 6px;
  color: black;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 14.5px;
}

.forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.5);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.forecast-temperatures {
  text-align: center;
  color: #0292c2;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.forecast-high {
  padding: 0 10px;
}

.weatherForecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

footer {
  text-align: center;
  font-size: 12.5px;
  border-top: 1px solid #d8d7dc;
  color: rgba(0, 0, 0, 0.6);
  padding: 20px 0 0 0;
}

@media (max-width: 700px) {
  body {
    background-repeat:repeat;
    background-size: cover;
  }

  .container {
    width: 95%;
    padding: 8px;
    margin-top: 80px;
  }

  .weatherData {
    flex-direction: column;
    align-items: center;
  }

  .searchCityInput {
    width: 61%;
    margin-left: 5px;
    font-size: 15px;
  }

  .mainCity {
    font-size: 40px;
  }

  .currentTemp {
    font-size: 63px;
  }

  .icon {
    width: 70px;
    height: 70px;
  }

  .weatherForecast {
    flex-direction: horizontal;
    margin-left: 0;
  }

  .forecast-date,
  .forecast-temperatures {
    font-size: 14px;
  }

  .forecast-icon {
    width: 60px;
    height: 60px;
  }
}
