body {
  background-image: url("/media/weatherBg.png");

  background-repeat: repeat;
  position: fixed;
}

.container {
  border: 1px solid black;
  background-color: whitesmoke;
  padding: 10px;
  margin: 10px;
}
